<p id="notice"><%= notice %></p>

<p><%= image_tag(@review.image_url.to_s) %></p>
<p>
  <strong>Review text:</strong>
  <%= @review.review_text %>
</p>

<p>
  <strong>Author Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @review.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @review.longitude %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
